<!-- https://getbootstrap.com/docs/4.0/examples/dashboard/#   -->


<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PoorMansSlack</title>

  <!-- Bootstrap core CSS -->
  <link href="/client/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/client/css/poormansslack.css" rel="stylesheet">

  <script  src="/client/dist/js/jquery-3.2.1.min.js"></script>

  <script src="/client/dist/js/bootstrap.min.js"></script>



  <script src="/client/js/poormansslack.js"></script>
</head>

<body>

    <!-- ###TEMPLATE_HEADER### -->

    <!-- ###TEMPLATE_CONTENT### -->

    <!-- ###TEMPLATE_FOOTER### -->

</body>

</html>