Options -MultiViews
Options +FollowSymLinks

RewriteEngine On    # Turn on the rewriting engine

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} !=/favicon.ico
#RewriteRule ^(.*)$ index.php?/$1 [L]

RewriteRule !(\.gif|\.jpe?g|\.css|\.php|^scr/.*|^img/.*|^js/.*|^dist/.*|^static/.*|^static_template/.*|^components/.*|^client/.*)$ index.php [NC,L,QSA]
