<!-- https://getbootstrap.com/docs/4.0/examples/dashboard/#   -->


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PoorMansSlack</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/poormansslack.css" rel="stylesheet">
</head>

<body>


    <!-- ###BEGIN_TEMPLATE### -->

    <div class="container-fluid">
        <div class="row">


            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 inner cover">
                <!-- ###BEGIN_PARTIAL### -->
                <!-- ###BEGIN### -->
                    <!-- ###IF(loggedin)###   
                        
                        <h4>Hi @@username@@</h4>
                        <p class="lead">Good to see you again!</p>
                        ###ELSE###  
                        
                        <h1 class="cover-heading">Welcome to PoorMansSlack</h1>
                        <p class="lead">Looks like your not logged in yet!</p>
                        <p class="lead">If you have already an account you can login or if you are new you can register!</p>

                        <p class="lead">
                            <a href="/login" class="btn btn-lg btn-secondary">login</a>
                            <a href="/register" class="btn btn-lg btn-secondary">register</a>
                        </p>
                    
    -->
                    <!-- ###END### -->
                <!-- ###END### -->
                <!-- ###END_PARTIAL### -->
            </main>
        </div>
    </div>

    <!-- ###END_TEMPLATE### -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="dist/js/vendor/popper.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
</body>

</html>