

<!-- ###BEGIN_TEMPLATE### -->




CONTENTBEGIN
  <h6>CONTENT</h6>
  <ul>
    <!-- ###FOREACHBEGIN### CHANNELS -->
          <!--    
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    ###name###
                  </a>
                </li>
          -->
    
    <li class="nav-item">
    </li>

    <!-- ###FOREACHEND### CHANNELS -->
    
  </ul>


<p>END OF CONTENT</p>

CONTENTEND




<!-- ###END_TEMPLATE### -->


