<!-- https://getbootstrap.com/docs/4.0/examples/dashboard/#   -->


<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PoorMansSlack</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../client/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../../client/css/poormansslack.css" rel="stylesheet">
</head>

<body>

  <!-- ###BEGIN_TEMPLATE### -->


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <!-- ###BEGIN_PARTIAL### -->

        <!-- ###BEGIN###  
             ###IF(STEPONE)### 
            <form id="formRegister1" class="form-register" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Register @ PoorMansSlack </h1>
                    <label for="registerUsername" class="sr-only">Email address</label>
                    <input type="text" id="registerUsername" class="form-control" placeholder="Username" required autofocus>
                    <label for="registerPassword" class="sr-only">Password</label>
                    <input type="password" id="registerPassword" class="form-control" placeholder="Password" required>
                    <label for="registerPasswordConfirm" class="sr-only">Confirm password</label>
                    <input type="password" id="registerPasswordConfirm" class="form-control" placeholder="Password" required>
                    
                    
                    <label for="registerFirstname" class="sr-only">Firstname</label>
                    <input type="text" id="registerFirstname" class="form-control" placeholder="Firstname" required>
                    <label for="registerLastname" class="sr-only">Lastname</label>
                    <input type="text" id="registerLastname" class="form-control" placeholder="Lastname" required>
          
                    <button id="btnregister" class="btn btn-lg btn-primary btn-block">Register</button>
                  </form>
                 -->

        <form id="formRegister1" class="form-register" method="post">
          <h1 class="h3 mb-3 font-weight-normal">Register @ PoorMansSlack </h1>
          <label for="registerUsername" class="sr-only">Email address</label>
          <input type="text" id="registerUsername" class="form-control" placeholder="Username" required autofocus>
          <label for="registerPassword" class="sr-only">Password</label>
          <input type="password" id="registerPassword" class="form-control" placeholder="Password" required>
          <label for="registerPasswordConfirm" class="sr-only">Confirm password</label>
          <input type="password" id="registerPasswordConfirm" class="form-control" placeholder="Confirm password" required>

          <button id="btnregister" class="btn btn-lg btn-primary btn-block">Register</button>
        </form>



        <!-- ###ELSE### -->

        <!--  
                <form id="formRegister2" class="form-register" method="post"  url="/api/addchannels">
                  <h1 class="h3 mb-3 font-weight-normal">Welcome - choose your channels </h1>

                  ###IF(CHANNELSFOUND)###
                      
                        <div class="form-group">
                          <label for="registerAvailableChannels">Available channels</label>
                          <select multiple class="form-control" id="registerAvailableChannels" size="3"> 

                  
                              ###FOREACH(CHANNELS)###
                                <option value="@@channelid@@">@@name@@</option>
                              ###END###
                  
                          </select>
                        </div>   
                        <button id="btnselect" class="btn btn-lg btn-primary btn-block">Save</button>
                  ###ELSE###
                        <h5>No Channels available</h5>
                  ###END### 
                      <button id="btnselect" class="btn btn-lg btn-primary btn-block">Finish registration</button>
                </form>       -->
        
        

        <form id="formRegister2" class="form-register" method="post" url="/api/addchannels/1">
          <h1 class="h3 mb-3 font-weight-normal">Welcome - choose your channels </h1>

          <div class="form-group">
            <label for="registerAvailableChannels">Available channels</label>
            <select multiple class="form-control" id="registerAvailableChannels" size="3">
              <option>SWE</option>
              <option>SCR</option>
              <option>UEN</option>
              <option>GPM</option>
            </select>
          </div>
          <button id="btnselect" class="btn btn-lg btn-primary btn-block">Save</button>
        </form>


        <!-- ###END### -->


        <!-- ###END### -->

        <!-- ###END_PARTIAL### -->




      </div>
      <div class="col-sm">
      </div>
    </div>
    <div class="row ">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="alert alert-danger register-error" role="alert">
                blupp
            </div>
        </div>
        <div class="col-sm">
        </div>
          
    </div>
  </div>
  <!-- ###END_TEMPLATE### -->





  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="dist/js/vendor/popper.min.js"></script>
  <script src="dist/js/bootstrap.min.js"></script>




</body>

</html>