<!-- ###BEGIN_TEMPLATE### -->



xxxxxxxxxxxxxxxxxxxxxxxx
CONTENT  BEGIN
xxxxxxxxxxxxxxxxxxxxxxxx

    <!-- ###BEGIN### -->
        <!-- ###IF(CHANNELS)###      -->
            <h4>IGNORE</h4>
            <!-- <h3>SHOW ME IF</h3> -->
        <!-- ###ELSE### -->
            <h4>IGNORE</h4>
            <!--   <h3>SHOW ME ELSE </h3> --> -->  
            <h4>IGNORE</h4>
        <!-- ###END### -->   


    <h4>IGNORE BEWEEN TEMPLATE CODE</h4>


        <h3>IGNORE ME FOREACH !</h3>
        <ul>
            <!-- ###FOREACH(CHANNELS)###
                <li>@@name@@</li>
            ###END### -->
        </ul>

    <!-- ###END### -->




<!-- ###END_TEMPLATE### -->
