

<!-- ###BEGIN_TEMPLATE### -->

xxxxxxxxxxxxxxxxxxxxxxxx
CONTENT  BEGIN
xxxxxxxxxxxxxxxxxxxxxxxx


<!-- ###BEGIN### -->
    
    <!-- ###IF### ###CHANNELS2###     -->
        <h1>hier sollte eine h3 kommen</h1>

        <!-- <h3>yeah we got it !</h3> -->

   <!-- ###ELSE### -->
        <h2>oberhalb sollte eine h3 stehen</h2>

    <!--  <h3>Ohhh no - no channels!</h3> -->   

    <h2>xxxx oberhalb sollte eine h3 stehen</h2>
    
    <!-- ###ENDIF### -->   


        <h3>yeah we got it !</h3>
        <ul>
            <!-- ###FOREACHBEGIN### ###CHANNELS###
                <li>###name###</li>
            ###FOREACHEND### -->
        </ul>
   
    <!-- ###END### -->


<!-- ###END_TEMPLATE### -->