

<!-- ###BEGIN_TEMPLATE### -->

xxxxxxxxxxxxxxxxxxxxxxxx
CONTENT  BEGIN
xxxxxxxxxxxxxxxxxxxxxxxx


<!-- ###BEGIN### -->
    <h1>hier sollte eine h3 kommen</h1>
    
    <!-- ###IF### ###CHANNELS2###
        
        <h3>yeah we got it !</h3> -->

   <!-- ###ELSE### ###CHANNELS2###   -->
   <h2>oberhalb sollte eine h3 stehen</h2>

    <!--  <h3>Ohhh no - no channels!</h3> -->   

    <h2>oberhalb sollte eine h3 stehen</h2>
    
    <!-- ###IFEND### ###CHANNELS2###  -->   

    <!-- ###END### -->


<!-- ###END_TEMPLATE### -->