<!-- https://getbootstrap.com/docs/4.0/examples/dashboard/#   -->



<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PoorMansSlack</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../client/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../../client/css/poormansslack.css" rel="stylesheet">
</head>

<body>


    <!-- ###BEGIN_TEMPLATE### -->

    <div class="container">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">


                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Channels</span>
                        <a class="d-flex align-items-center text-muted" href="/newchannel">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">

                        <!-- ###BEGIN_PARTIAL### -->
                        <!-- ###BEGIN### -->
                        <!-- ###IF(CHANNELSFOUND)### -->
                        <!-- ###FOREACH(CHANNELS)###  -->
                        <!--    
                                                <li class="nav-item">
                                                <a class="nav-link" href="/channel/@@nameasurl@@">
                                                    <span data-feather="file-text"></span>
                                                    @@name@@
                                                </a>
                                                </li>
                                            -->
                        <!-- ###END### -->
                        <!-- ###ELSE### -->
                        <!-- <h4>no channels available</h4> -->
                        <!-- ###END### -->


                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <!-- ###END### -->

                        <!-- ###END_PARTIAL### -->

                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <!-- ###BEGIN_PARTIAL### -->
                    <!-- ###BEGIN### 
                            <h1 class="h2">@@channelname@@</h1>       
                            <h6 class="border-bottom border-gray pb-2 mb-0 channeldescription">@@channeldescription@@</h6>
                         ###END### -->

                    <h1 class=" pb-2 mb-0">Channelname</h1>
                    <h6 class="border-bottom border-gray pb-2 mb-0 channeldescription">Channeldescription</h6>
                    <!-- ###END_PARTIAL### -->



                    <!-- ###BEGIN_PARTIAL### -->
                    <!-- ###BEGIN###
                            ###IF(HASIMPORTANTMESSAGES)###
                                <div class="container-importantmessages channelid-@@channelid@@">
                                    ###FOREACH(IMPORTANTMESSAGES)###
                                        <div class="card msg messageid-@@messageid@@">
                                            <div class="card-header">
                                                <div class="row justify-content-between">
                                                    <div class="co-6 ">
                                                        @@username@@  wrote on the @@date@@ at @@time@@
                                                        <span class="badge badge-primary">Important</span>
                                                        ###IF(unread)### 
                                                            <span class="badge badge-secondary">Unread</span>
                                                        ###END###
                                                    </div>
                                                    <div class="col-4  text-right">
                                                        <a href="#" class="notimportantmessage messageid-@@messageid@@">
                                                            <span data-feather="thumbs-up"></span>
                                                        </a>
                                                        <a href="#" class="editmessage messageid-@@messageid@@">
                                                            <span data-feather="edit"></span>
                                                        </a>
                                                        <a href="#" class="deletemessage messageid-@@messageid@@">
                                                            <span data-feather="trash-2"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text">@@messagetxt@@</p>
                                            </div>
                                        </div>
                                    ###END###
                                </div>
                            ###END###
                            ###IF(HASMESSAGES)###
                                <div class="container-messages channelid-@@channelid@@">
                                    ###FOREACH(MESSAGES)###
                                        <div class="card msg messageid-@@messageid@@">
                                            <div class="card-header">
                                                <div class="row justify-content-between">
                                                    <div class="col-6 ">
                                                        @@username@@  wrote on the @@date@@ at @@time@@
                                                        ###IF(unread)### 
                                                            <span class="badge badge-secondary">Unread</span>
                                                        ###END###
                                                    </div>
                                                    <div class="col-4  text-right">
                                                        <a href="#" class="importantmessage messageid-@@messageid@@">
                                                            <span data-feather="thumbs-up"></span>
                                                        </a>
                                                        <a href="#" class="editmessage messageid-@@messageid@@">
                                                            <span data-feather="edit"></span>
                                                        </a>
                                                        <a href="#" class="deletemessage messageid-@@messageid@@">
                                                            <span data-feather="trash-2"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text">@@messagetxt@@</p>
                                            </div>
                                        </div>
                                    ###END###
                                </div>
                            
                                

                            ###END### 

                            
                                <form class="formnewmessage channelid-@@channelid@@">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">+</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Write new reply!" required>
                                        </div>
                                    </div>
                                </form>

                                <form class="formeditmessage">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Edit message</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Write new reply!" required>
                                        </div>
                                    </div>
                                </form>

                            -->
                            

                    <h6 class="border-bottom border-gray pb-2 mb-0">Important messages </h6>

                    <div class="card msg">
                        <div class="card-header">
                            <div class="row justify-content-between">
                                <div class="col-4 ">
                                    @admin wrote on
                                    <span class="badge badge-primary">Important</span>

                                    <span class="badge badge-secondary">Unread</span>
                                </div>
                                <div class="col-4  text-right">
                                    <a href="#" class="importanttopic topicid-@@topicid@@">
                                        <span data-feather="thumbs-up"></span>
                                    </a>
                                    <a href="#" class="edittopic topicid-@@topicid@@">
                                        <span data-feather="edit"></span>
                                    </a>
                                    <a href="#" class="deletetopic topicid-@@topicid@@">
                                        <span data-feather="trash-2"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                    <h6 class="border-bottom border-gray pb-2 mb-0">Not so important messages </h6>

                    <div class="card msg">
                        <div class="card-header">
                            <div class="row justify-content-between">
                                <div class="col-4">
                                    @user12 wrote
                                </div>
                                <div class="col-4 text-right ">
                                    <a href="#" class="importanttopic topicid-@@topicid@@">
                                        <span data-feather="thumbs-up"></span>
                                    </a>
                                    <a href="#" class="edittopic topicid-@@topicid@@">
                                        <span data-feather="edit"></span>
                                    </a>
                                    <a href="#" class="deletetopic topicid-@@topicid@@">
                                        <span data-feather="trash-2"></span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card msg">
                        <div class="card-header">
                            <div class="row justify-content-between">
                                <div class="col-4">
                                    @user12 wrote
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#" class="importanttopic topicid-@@topicid@@">
                                        <span data-feather="thumbs-up"></span>
                                    </a>
                                    <a href="#" class="edittopic topicid-@@topicid@@">
                                        <span data-feather="edit"></span>
                                    </a>
                                    <a href="#" class="deletetopic topicid-@@topicid@@">
                                        <span data-feather="trash-2"></span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                    <div class="card msg">
                        <div class="card-header">
                            <div class="row justify-content-between">
                                <div class="col-4">
                                    @user12 wrote
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#" class="importanttopic topicid-@@topicid@@">
                                        <span data-feather="thumbs-up"></span>
                                    </a>
                                    <a href="#" class="edittopic topicid-@@topicid@@">
                                        <span data-feather="edit"></span>
                                    </a>
                                    <a href="#" class="deletetopic topicid-@@topicid@@">
                                        <span data-feather="trash-2"></span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                    <hr>

                    <form class="formnewmessage channelid-@@channelid@@">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Write new reply!" required>
                            </div>
                        </div>
                    </form>

                    <!-- ###END### -->
                    <!-- ###END_PARTIAL### -->
                </div>


                <!-- our messages-->

                    

                   

                    
                </div>

            </main>
        </div>
    </div>

    <!-- ###END_TEMPLATE### -->








</body>

</html>