<!-- https://getbootstrap.com/docs/4.0/examples/dashboard/#   -->


<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PoorMansSlack</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../client/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../../client/css/poormansslack.css" rel="stylesheet">
</head>

<body>

  <!-- ###BEGIN_TEMPLATE### -->


  <div class="container-fluid">
        <div class="row align-items-center login-container">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <!-- ###BEGIN_PARTIAL### -->

        <!-- ###BEGIN###  
           
            <form id="formNewChannel" class="form-register" method="post">
                <h1 class="h3 mb-3 font-weight-normal">Create New Channel</h1>
                <label for="channelName" class="sr-only">Channelname</label>
                <input type="text" id="channelName" class="form-control" placeholder="name" required autofocus>
                <label for="channelDescription" class="sr-only">Channel description</label>
                <input type="text" id="channelDescription" class="form-control" placeholder="description" required>
          
                <button id="btncreatechannel" class="btn btn-lg btn-primary btn-block">Create channel</button>
              </form>
          -->

        <form id="formNewChannel" class="form-register" method="post">
          <h1 class="h3 mb-3 font-weight-normal">Create new channel</h1>
          <label for="channelName" class="sr-only">Channel name</label>
          <input type="text" id="channelName" class="form-control" placeholder="name" required autofocus>
          <label for="channelDescription" class="sr-only">Channel description</label>
          <input type="text" id="channelName" class="form-control" placeholder="description" required >
          <button id="btncreatechannel" class="btn btn-lg btn-primary btn-block">Create channel</button>
        </form>

        <!-- ###END### -->

        <!-- ###END_PARTIAL### -->

      </div>
      <div class="col-sm">
      </div>
    </div>
    <div class="row ">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="alert alert-danger register-error" role="alert">
                blupp
            </div>
        </div>
        <div class="col-sm">
        </div>
          
    </div>
  </div>
  <!-- ###END_TEMPLATE### -->





  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="dist/js/vendor/popper.min.js"></script>
  <script src="dist/js/bootstrap.min.js"></script>




</body>

</html>